@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    src: url('./fonts/Poppins-Medium.woff2') format("woff2"),
    url('./fonts/Poppins-Medium.woff') format('woff') 
} 
@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/Poppins-Regular.woff2') format("woff2"),
    url('./fonts/Poppins-Regular.woff') format('woff') 
} 
@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    font-style: normal;
    src: url(./fonts/Poppins-Bold.woff2) format('woff2'),
    url(./fonts/Poppins-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/Poppins-Light.woff2') format('woff2'),
    url('./fonts/Poppins-Light.woff') format('woff');
}

:root {
    --max-width-widget: 500px;
    --drop-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.16);
    --border-radius: 8px;
    --white: #fffbfb;
    --grey: #f0eef1;
    --light-grey: #f6f6f6;
    --dark-grey: #c7c7c7;
    --hover-grey: #dddddd;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
} 

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.content{
    height: 400px;
}

.margin-20 {
    margin: 20px 0;
}

body{
    background-color: var(--grey)
}

/* Header */
#title {
    background-color: white;
    font-size: 1.5rem;
    padding: 10px 0;
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.icons {
    height: 100px;
    background-color: var(--light-grey);
    margin-top: 10px;
}
.icon-btn {
    width: 100px;
    height: 100%;
    font-weight: 400;
    display: block;
    background-color: var(--light-grey);
    border: 0;
    box-shadow: -1px 0px 0px 0px var(--dark-grey), 
    1px 0px 0px 0px var(--dark-grey),
    0px 1px 0px 0px var(--dark-grey),
    0px -1px 0px 0px var(--dark-grey);

    > svg {
        width: 40%;
    }
}
.icon-btn:first-child{
    box-shadow:
    1px 0px 0px 0px var(--dark-grey),
    0px 1px 0px 0px var(--dark-grey),
    0px -1px 0px 0px var(--dark-grey);
}
.icon-btn:last-child{
    box-shadow: -1px 0px 0px 0px var(--dark-grey),
    0px 1px 0px 0px var(--dark-grey),
    0px -1px 0px 0px var(--dark-grey);
}

.icon-btn:hover {
    background-color: var(--hover-grey);
}
.tab-widget {
    margin-top: 20px;
    padding: 10px 0;
    background-color: var(--white);
    display: inline;
    margin: 0 auto;
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);
}